<div class="col-md-12 col-md-5">
    <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
     
     
      <h1>Article</h1>   
      <div class="form-group">
        <label>Reference</label>
        <input type="text" class="form-control" formControlName="reference" id="reference"   >
      </div>
      <div class="form-group">
        <label>Libelle </label>
        <input type="text" class="form-control" formControlName="libelle" id="libelle">
      </div>
      <div class="row">
        <div class="col-6 col-md-4"> <label>Quantité Stock  </label>
            <input type="number" class="form-control" formControlName="qteStock" id="qteStock"></div>
        <div class="col-6 col-md-4">      <label>Quantité Minimale </label>
            <input type="number" class="form-control" formControlName="qteMin" id="qteMin"></div>
        <div class="col-6 col-md-4">      <label>Quantité cri</label>  
            <input type="number" class="form-control" formControlName="qteCri" id="qteCri"></div>
      </div>
     
      <div class="row">
        <div class="col-md-6 mb-4">
          <div class="form-outline">
            <label>Code Catégorie </label>
  <select class="form-control" formControlName="idCat" id="idCat"
  (change)="onSelectedCateg($any($event.target).value)">
  <option value="0">-Select-</option>
  <option *ngFor="let item of CategorieList" value="{{item.idCat}}">{{item.libCat}}</option>
  
  </select>
          
          </div>
        </div>
  
  
  
        <div class="col-md-6 mb-4">
          <div class="form-outline">
           <label>Code SCatégorie </label>
  <select class="form-control" formControlName="idScat" id="idScat" (change)="onSelectedScateg($any($event.target).value)">
  <option value="0">-Select-</option>
  <option *ngFor="let item of ScategorieList" value="{{item.idScat}}">{{item.libScat}}</option>
  </select>
            
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
        <button type="button" class="btn btn-outline-dark ml-1"[mat-dialog-close]><i class="fa fa-database"></i> close</button>
  
    </div>
    </form>
    </div>