<mat-toolbar >
    <div fxHide.gt-xs>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div *ngIf="isLoggedIn || showAdminBoard">
      Liste Article
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
             <li>
                <a class="btn btn-sm btn-success text-white pull-right" (click)="addarticle()">
                    <i class="fa fa-plus"></i>Add Article </a>
          </li>
          <li>
            <button class="btn" (click)="openPDF()" style="font-size:20px"><i class="fa fa-download"></i>PDF</button>
          </li>
    
        </ul>
    </div>
    </mat-toolbar>
  <div class="pricing-header mx-auto">
   <div class="table-responsive">
    <table class="table table-bordered table-responsive-sm table-responsive-md
   table-responsive-lg" id="htmlData">
    <thead>
    <tr>
    <th scope="col">Reference</th>
    <th scope="col">Libelle </th>
    <th scope="col">Quantite stock</th>
    <th scope="col">Quantite minimale</th>
    <th scope="col">Quantite cri</th>
    <th scope="col">Date creation</th>
    <th scope="col">cat</th>
    <th class="text-center" scope="col">Action</th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let item of crudApi.listData  | paginate:{itemsPerPage: 6 ,currentPage: p}" >
    <td >{{item.reference}}</td>
    <td >{{item.libelle}}</td>
    <td >{{item.qteStock}}</td>
    <td >{{item.qteMin}}</td>
    <td >{{item.qteCri}}</td>
    <td >{{item.dateCreation | date}}</td>
    <td >{{item.idCat}}</td>
  
    <td><button class="btn btn-warning" (click) = "selectData(item)">Modifier
     </button></td>
    <td><button class="btn btn-danger" (click) = "removeData(item.id)">Supprimer
     </button></td>
  
       </tr>
         </tbody>
         </table>
         </div>
         <pagination-controls (pageChange)="p = $event"></pagination-controls>
       </div>