<mat-toolbar >
    <div fxHide.gt-xs>
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
    <h1>Gestion Sortie

    </h1> 
    </div>
    
  </mat-toolbar>
  <form [formGroup]="this.service.formData" (ngSubmit)="onSubmit()">
    <input  type="hidden"  class="form-control" formControlName="nomF" id="nomF" >
  <div class="form-group row col-md-12">
  <div class="form-group col-md-6">
      <label><strong> numero Operation : </strong></label>
      <input  type="text"  class="form-control" formControlName="numeroOperation" id="numeroOperation" >
  </div>  
  <div class="form-group col-md-6">
    <label><strong> refOperation : </strong></label>
    <input  type="text"  class="form-control" formControlName="refOperation" id="refOperation" >
  </div>  
  <div class="col-md-6 form-group">
        <label>Date Operation</label>
      <input  type="date"  class="form-control" formControlName="dateOperation"  id="dateOperation">
  </div>
  <div class="col-md-6 form-group">
    <label>Departement</label>
    <select name="idF" class="form-control" formControlName="idDep" id="idDep" 
    (change)="OnSelectClient($event)">
    <option value="0">-Select-</option>
    <option *ngFor="let departement of this.DepartementList" value="{{departement.id}}">{{departement.libDep}}</option>
    </select>
  </div>
  
  </div>
  <table class="table table-borderless">
    <thead class="thead-light">
      <th>Article</th>
      <th>Quantite</th>
      <th>
        <a class="btn btn-sm btn-outline-success " (click)="AddData(null,1)">
            <i class="fa fa-plus"></i>Ajouter </a>
      </th>
    </thead>
    <tbody>
        <tr *ngIf="service.list.length==0" 
         [class.text-danger]="!isValid && service.list.length ==0">
            <td class="font-italic text-center" colspan="5">
              Aucune Sortie sélectionnée ...
            </td>
          </tr>
      <tr *ngFor="let item of service.list;let i=index;">  
      <td>{{item.reference}}</td>
      <td>{{item.qte}}</td>
      <td>
          <a class="btn btn-sm btn-info text-white" (click)="AddData(i,1)">edit
              <i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(item,item.id,i)">supprimer
              <i class="fa fa-trash"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
            <label>nombre total d'article : </label>
            <input type="text" class="form-control" id="totart" formControlName="totart" readonly>
        </div>
        </div> 
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
            <label> Quantité Total  : </label>
            <input type="text" class="form-control" id="qte" formControlName="qte" readonly>
        </div>
        </div>
             
     </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    
  </div>
  </form>
